<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    @Styles.Render("~/limitless/css")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body class="pace-done">
    @Html.Partial("_NavBar")

    <div class="page-container">
        <div class="page-content">
            @Html.Partial("_SideBar")
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/scripts/libraries")
    @Scripts.Render("~/limitless/js/libraries")
    @Scripts.Render("~/limitless/js/core")
    @Scripts.Render("~/scripts/custom")

    @RenderSection("scripts", required: false)
</body>
</html>
